# Database
DATABASE_URL="file:./dev.db"

# Setting Admin WA (Nomor yang akan dichat jika customer butuh bantuan)
ADMIN_WA_NUMBER="62811111"

# Auth (Dummy password for NextAuth)
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="password123"
NEXTAUTH_SECRET="very-secret-key-32-chars-long"
NEXTAUTH_URL="http://localhost:3000"

# App
NEXT_PUBLIC_APP_NAME="KK Dimsum"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
