# Database
DATABASE_URL="xxx"
DIRECT_URL="xxx"

# Auth (Dummy password for NextAuth)
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="password123"
NEXTAUTH_SECRET="very-secret-key-32-chars-long"
NEXTAUTH_URL="http://localhost:3000"

# App
NEXT_PUBLIC_APP_NAME="KK Dimsum"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

BAILEYS_URL="http://wa-baileys:3001"
BAILEYS_API_KEY="your-baileys-api-token"
BAILEYS_INBOUND_REPLY_DELAY_MS="15000"
