# Database
DATABASE_URL="xxx"
DIRECT_URL="xxx"

# Auth (Dummy password for NextAuth)
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="password123"
NEXTAUTH_SECRET="very-secret-key-32-chars-long"
NEXTAUTH_URL="http://localhost:3000"

# App
NEXT_PUBLIC_APP_NAME="KK Dimsum"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

CONNEKTHUB_URL="http://localhost:3001"
CONNEKTHUB_API_KEY="ck_5ehgs6k4ngy7e234gu0ohu"
